/* MEDIA QUERIES */

@media screen and (max-width: 325px) {
  h3 {
    text-align: left;
  }
}

@media screen and (min-width: 760px) {
  .dropdown {
    display: none;
  }
  .menu-desktop {
    display: block;
    padding-right: 20px;
  }
  nav ul {
    display: flex;
  }
  .albums {
    display: flex;
    flex-wrap: wrap;
  }
  .albums li {
    width: 365px;
    padding: 0px 20px 20px 20px;
  }
  footer .logo {
    display: block;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .links {
    width: 150px;
  }
}
