:root {
  /* Color */
  --bg-primary: #fff0f0;
  --bg-secondary: #1a0d2f;
  --accent: #ff6363;
  --accent-dark: #840808;
  --text: #534646;
  /* Font size */
  --size: 16px;
  --p-size: 1rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text);
  font-size: var(--size);
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: var(--bg-secondary);
  z-index: 2;
  position: fixed;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav li {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: #ff6363;
}
.dropdown-button {
  border: none;
  background-color: transparent;
}
.hamburger-button div {
  width: 40px;
  height: 6px;
  background-color: var(--accent);
  border-radius: 6px;
  margin: 5px;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  display: inline-block;
}
.hamburger-inner {
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: var(--accent);
  border-radius: 6px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: 10px;
}
.hamburger-inner::after {
  top: 20px;
}
.hamburger-inner.is-active {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-inner.is-active::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger-inner.is-active::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 12px;
  padding-right: 20px;
  gap: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.dropdown-content {
  padding: 35px;
  padding-top: 0;
  margin-top: 32px;
  text-align: end;
  background-color: var(--bg-secondary);
  position: fixed;
  right: -100%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  top: 8%;
}
.show {
  opacity: 1;
  right: 0;
}
.menu-desktop {
  display: none;
}
.logo {
  width: 100px;
  padding-left: 20px;
}
.logo img {
  width: 100%;
  padding-left: 10px;
}

/* MAIN */
main {
  padding: 30px;
}
h1 {
  color: var(--accent);
  text-transform: uppercase;
}
h2,
h3 {
  color: var(--accent-dark);
}
h3 em {
  color: var(--accent);
  font-weight: 300;
}
.hero {
  width: 100%;
  margin-top: 100px;
}
.img-text {
  font-size: 0.75rem;
  margin: 0;
  text-align: end;
  padding-right: 10px;
}
article {
  text-align: justify;
}
.info {
  text-align: justify;
  font-size: 1.1rem;
}
.spotify-link {
  display: flex;
  justify-content: center;
}
h2 a {
  text-align: end;
  color: #ff6363;
  text-decoration: none;
  animation: animate 2.5s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/* ABOUT PAGE */
.albums li {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.albums h4 {
  color: var(--accent-dark);
}
.albums li em {
  font-weight: 500;
  color: var(--accent);
}
.albums img {
  width: 100%;
  max-width: 365px;
}
.albums {
  list-style: none;
  padding: 0;
  margin: 0;
}
.albums a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
.articles,
.videos {
  text-align: left;
}
.articles a,
.videos a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 700;
}
.articles li::marker,
.videos li::marker {
  color: var(--accent-dark);
}
footer {
  width: 100vw;
  padding: 20px 0px;
  background-color: var(--bg-secondary);
}
footer .logo {
  display: none;
}
footer .links {
  list-style: none;
  display: flex;
  margin: 0px 20px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
footer li {
  height: 40px;
}
.sodamusic {
  background-color: var(--bg-primary);
  width: 75px;
}
.insta {
  width: 40px;
}
