body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  background-color: antiquewhite;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  background-color: hotpink;
  color: azure;
}
